<hr />
<h3 class="mb-4">ngClass</h3>
<div class="d-flex gap-3">
  <button class="btn btn-primary" (click)="alert = 'alert-primary'">Primary</button>
  <button class="btn btn-success" (click)="alert = 'alert-success'">Success</button>
  <button class="btn btn-danger" (click)="alert = 'alert-danger'">Danger</button>
  <button class="btn btn-warning" (click)="alert = 'alert-warning'">Warning</button>
  <button class="btn btn-info" (click)="alert = 'alert-info'">Info</button>
</div>

<div [ngClass]="alert" class="mt-4 alert" role="alert">Esto es una alerta: <strong>{{alert}}</strong></div>

<h3 class="mb-4">ngClass condicional</h3>
<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
  Hola mundo!
</h3>

<button
  (click)="propiedades.danger = !propiedades.danger"
  [ngClass]="{
    'btn-danger': propiedades.danger,
    'btn-info': !propiedades.danger
  }"
  class="btn"
>
  Cambiar {{ propiedades.danger }}
</button>

<hr />

<h3>Proceso Asincrono</h3>
<button (click)="Execute()" class="btn btn-primary" [disabled]="loading">
  <i
    [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading"> Guardar Cambios </span>
  <span *ngIf="loading"> Espere porfavor... </span>
</button>
