<div [ngClass]="alert" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button class="btn btn-info m-2" (click)="alert = 'alert-info'">Info</button>
<button class="btn btn-success m-2" (click)="alert = 'alert-success'">
  Success
</button>

<br />

<h3
  [ngClass]="{
    'text-danger': propiedades.danger,
    'text-info': !propiedades.danger
  }"
>
  Hola mundo!
</h3>

<button
  (click)="propiedades.danger = !propiedades.danger"
  [ngClass]="{
    'btn-danger': propiedades.danger,
    'btn-info': !propiedades.danger
  }"
  class="btn"
>
  Cambiar
</button>

<hr />
<h3>Proceso Asincrono</h3>
<button (click)="Execute()" class="btn btn-primary" [disabled]="loading">
  <i
    [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading"> Guardar Cambios </span>
  <span *ngIf="loading"> Espere porfavor... </span>
</button>
